# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
.eggs/
staticfiles/

# Node
node_modules/
dist/
.next/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example

# Docker
*.override.yml

# Secrets
infra/k8s/secrets.yaml

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Logs
*.log
