PORT=4000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/orders_db
REDIS_URL=redis://localhost:6379/0
DJANGO_URL=http://localhost:8000
DASHBOARD_URL=http://localhost:3000
SYNC_INTERVAL_MS=10000
SYNC_BATCH_SIZE=50
LOG_LEVEL=info
